node_modules/
.env

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# ChromaDB / AI generated data
chroma_db/
chromadb_data/
chroma.sqlite3

# Flask
flask_session/

# Frontend
dist/
.vite/

# Local database
*.db

# User uploaded files
backend/uploads/

# Environment files
.env.*
!.env.example