# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/

# Environment
.env
*.local

# Backend uploads (IMPORTANT)
backend/uploads/

# Database files (VERY IMPORTANT)
*.db
*.sqlite3

# AI / ML data (VERY IMPORTANT)
chromadb_data_*
ai/chromadb_data_*
ai/flask_session/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?